<md-content>
  <header md-whiteframe="5">
    <div class="header-image parallax"></div>
    <div class="intro-content">
      <h1 class="md-display-1 main-title">
        La plataforma internacional de análisis del mercado de valores
      </h1>
      <hr>
      <h1 class="md-headline sub-title">
        Precio de las acciones en tiempo real de más de 3000 empresas
      </h1>
    </div>
    <div class="header-map"></div>
  </header>

  <br><br>
  <div layout="column" layout-align="center center">
    <div class="landing-cards-group">
      <div layout="row" layout-align="center" layout-wrap>
        <div ng-repeat="tickerData in vm.tickersHistory" flex-gt-sm="33" flex-gt-xs="50" flex-xs="100">
          <a ng-include="'app/main/templates/ticker-card.html'"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="compare-container" md-whiteframe="5" layout="row" layout-align="center center" ng-class="{'fade-in': vm.selectedTickers.length}">
    <div ng-repeat="tickerIndex in [0,1,2]">
      <md-card class="ticker-selected" ng-class="{'unselected': !vm.selectedTickers[tickerIndex]}">
        <md-card-content>
          <div ng-if="vm.selectedTickers[tickerIndex]">
            <b>
              <md-icon md-svg-icon="chart"></md-icon>
              {{vm.selectedTickers[tickerIndex].name}} &nbsp;
            </b>
            <b>
              <md-icon md-svg-icon="business"></md-icon>
              {{vm.selectedTickers[tickerIndex].company}}
            </b>
          </div>
          <div ng-if="!vm.selectedTickers[tickerIndex]">
            Agregar una acción
          </div>
        </md-card-content>
      </md-card>
    </div>
    <md-button class="md-primary md-raised" ng-click="vm.compareStocks($event)" ng-disabled="vm.selectedTickers.length < 3">
      Comparar
    </md-button>
  </div>
</md-content>
